{% extends "OlryMentalNoteBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block sidebar %}
<dl class="well">
    <dt>Login</dt>
    <dd>{{ user.username }}</dd>

    <dt>E-Mail</dt>
    <dd>{{ user.email }}</dd>

</dl>
{% endblock sidebar %}

{% block content %}
<h2>change password</h2>
{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.current_password) }}
    {{ form_row(form.new) }}

    <div class="btn-group">
        <a class="btn btn-danger" href="{{ path('homepage') }}">cancel</a>
        <input type="submit" class="btn btn-primary" value="save" />
    </div>
{{ form_end(form) }}

{% endblock content %}

