{% extends "OlryMentalNoteBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block sidebar %}
<dl class="well">
    <dt>{% trans %}Login{% endtrans %}</dt>
    <dd>{{ user.username }}</dd>

    <dt>{% trans %}E-Mail{% endtrans %}</dt>
    <dd>{{ user.email }}</dd>

</dl>
{% endblock sidebar %}

{% block content %}
<h2>{% trans %}change password{% endtrans %}</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="btn-group">
        <a class="btn btn-danger" href="{{ path('homepage') }}">{% trans %}cancel{% endtrans %}</a>
        <input type="submit" class="btn btn-primary" value="{% trans %}save{% endtrans %}" />
    </div>
{{ form_end(form) }}

{% endblock content %}

