{% form_theme form _self %}

{{ form_widget(form, {attr: {role: 'form'}}) }}

{% block form_row %}
<div class="form-group {{ form_errors(form) ? 'has-error' : '' }}">
    {{ form_errors(form) }}
    {{ form_widget(form, {attr: {placeholder: form.vars.label, class: "form-control"}}) }}
</div>
{% endblock %}

{% block tagString_row %}
    {{ form_errors(form) }}
    {{ form_widget(form, {attr: {placeholder: form.vars.label, class: "form-control"}}) }}
{% endblock %}
