<div class="thumbnail {{ entry.pending ? '' : 'entry-finished' }}">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a href="{{ entry.url }}" data-link="{{ path('entry_visit', {id: entry.id}) }}" class="visit-link" title="{{ entry.title }}">
                <img class="deferred-image image-responsive" src="{{ asset("images/placeholder_loading.png") }}" data-src="{{ path('entry_thumbnail', {'id': entry.id, width: 300, height: 150}) }}" alt="" />
            </a>
        </div>
        <div class="col-sm-12 col-md-8">
            {% if show_actions|default(false) %}
            <div class="pull-right">
                <a href="https://twitter.com/intent/tweet?text={{ entry.url ~ ' ' ~ entry.title | url_encode }}" title="Share with Twitter" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}" title="Share with Facebook"  target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;&nbsp;
                <a href="{{ path('entry_edit', {id: entry.id}) }}" class="modal-ajax-form text-muted" title="edit entry"><i class="fa fa-pencil "></i></a>
                <a href="{{ path('entry_delete', {id: entry.id, filter: app.request.query.get('filter')}) }}" title="delete" class="text-danger"><i class="fa fa-trash "></i></a>
            </div>
            {% endif %}
            <div>
                {% for tag in entry.tags %}
                <a class="label{{ entry.pending ? ' label-info' : '' }}" href="{{ path('homepage', {filter: {tag: tag.name}}) }}">{{ tag.name }}</a>
                {% else %}
                {% endfor %}
            </div>
            <h4 class="one-line">
                <i class="{{ mn_category(entry.category).icon}} " title="{{ mn_category(entry.category).label}}"></i>
                <a href="{{ entry.url }}" data-link="{{ path('entry_visit', {id: entry.id}) }}" class="visit-link" title="{{ entry.title }}">
                    {{ entry.title }}
                </a>
            </h4>
            <p class="text-muted">
                <i class="fa fa-globe" title="domain"></i>
                {{ entry.domain }}

                <i class="fa fa-clock-o"></i>
                {{ entry.age }}

                {% if entry.lastVisitTimestamp %}
                    <i class="fa fa-mouse-pointer"></i>
                    last visit {{ entry.lastVisitTimestamp.format('Y-m-d H:i:s') }}
                {% endif %}
            </p>
            <div>
                <form action="{{ path('entry_toggle_pending', {id: entry.id, 'filter': app.request.get('filter') }) }}" method="POST">
                    <button title="mark as {{ entry.pending ? 'done' : 'pending' }}" class="label label-ghost">
                        <i class="fa {{ entry.pending ? 'fa-eye' : 'fa-eye-slash'}}"></i> mark as {{ entry.pending ? 'done' : 'pending' }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

