<ul class="nav nav-tabs">
    <li class="{{ (criteria.category == '') ? 'active' : '' }}">
        <a href="{{ path('homepage', {'filter': criteria.getQuery({'category': null })}) }}">
            <i class="icon-circle-blank"></i>
            all
        </a>
    </li>
{% for category in categories %}
    <li {{ (criteria.category == category.category.key) ? ' class="active"' : '' }}>
        <a href="{{ path('homepage', {'filter': criteria.getQuery({'category': category.category.key})}) }}">
            <i class="{{ category.category.icon}} "></i>
            {{ category.category.label }}
            {% if category.pending > 0 %}
            <span class="label {% if category.category.key == criteria.category and category.pending > 10 %}label-danger{% elseif category.category.key == criteria.category and category.pending > 0 %}label-warning{% else %}label-default{% endif %}">{{ category.pending }}{% if category.category.key == criteria.category %}/{{ category.total }}{% endif %}</span>
            {% endif %}
        </a>
    </li>
{% endfor%}
</ul>

