<div class="panel panel-default">
    <div class="panel-heading">Sort</div>
    <ul class="nav">
        {% for identifier, label in criteria.sortOptions %}
            <li>
                <a href="{{ path('homepage', { filter: criteria.getQuery({'sortOrder': identifier})}) }}">
                    {{ label }}
                    <div class="pull-right">
                        <i class="fa {{ criteria.sortOrder == identifier ? "fa-check-square-o" : "fa-square-o" }}"></i>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<h4>Filters</h4>
<div class="panel panel-default">
    <div class="panel-heading">Status</div>
    <ul class="nav">
        {% if criteria.query|length > 0 %}
            <li class = "active">
                <a href="{{ path('homepage', { filter: criteria.getQuery({'query': null})}) }}" title="remove filter">
                    <div class="pull-right">
                        <i class="fa fa-times-circle"></i>
                    </div>
                    fulltext "{{ criteria.query }}"
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('homepage', {'filter': criteria.query({'pendingOnly': not criteria.pendingOnly}) }) }}">
                only show pending
                <div class="pull-right">
                    <i class="fa {{ criteria.pendingOnly ? "fa-check-square-o" : "fa-square-o" }}"></i>
                </div>
            </a>
        </li>
    </ul>

    {% include "OlryMentalNoteBundle:Default:sidebar-categories.html.twig" with {criteria: criteria, categories: categories} %}
    {% include "OlryMentalNoteBundle:Default:sidebar-tags.html.twig" with {criteria: criteria, tags: tags} %}
</div>
