<div class="panel-heading">Categories</div>
<ul class="nav">
    {% if criteria.category %}
        <li class="active">
            <a href="{{ path('homepage', { filter: criteria.getQuery({'category': null})}) }}" title="remove filter">
                <div class="pull-right">
                    <i class="fa fa-times-circle"></i>
                </div>
                <i class="{{ mn_category(criteria.category).icon }}"></i>
                {{ mn_category(criteria.category).label }}
            </a>
        </li>
    {% else %}
        {% for category in categories %}
            <li {{ (criteria.category == category.category.key) ? ' class="active"' : '' }}>
                <a href="{{ path('homepage', {'filter': criteria.getQuery({'category': category.category.key})}) }}">
                    <i class="{{ category.category.icon}} "></i>
                    {{ category.category.label }}
                    {% if category.pending > 0 %}
                        <div class="pull-right">
                            <span class="label {% if category.pending > 10 %}label-danger{% elseif category.pending > 0 %}label-warning{% else %}label-default{% endif %}">{{ category.pending }}/{{ category.total }}</span>
                        </div>
                    {% endif %}
                </a>
            </li>
        {% endfor%}
    {% endif %}
</ul>

