<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-tag"></i> Tags
    </button>
    <div class="dropdown-menu">
        {% if criteria.tag != "" %}
            <a class="dropdown-item" href="{{ path('homepage', { filter: criteria.getQuery({'tag': null})}) }}" title="remove filter">
                <div class="pull-right">
                    <i class="fa fa-times-circle"></i>
                </div>
                {{ criteria.tag }}
            </a>
        {% else %}
            {% for tag in tags %}
                <a class="dropdown-item" href="{{ path('homepage', { filter: criteria.getQuery({'tag': tag.name})}) }}">
                    {{ tag.name }}
                    <div class="pull-right">
                        <span class="label {% if tag.pending > 10 %}label-danger{% elseif tag.pending > 0 %}label-warning{% else %}label-default{% endif %}">{{ tag.pending }}/{{ tag.total }}</span>
                    </div>
                </a>
            {% endfor%}
        {% endif  %}
    </div>
</div>

