<div class="dropdown">
    <button class="btn btn-light dropdown-toggle {{ criteria.category ? 'btn-outline-primary' : '' }}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-circle-o-notch"></i> Categories
    </button>
    <div class="dropdown-menu">
        {% if criteria.category %}
            <a class="dropdown-item" href="{{ path('homepage', { filter: criteria.getQuery({'category': null})}) }}" title="remove filter">
                <div class="pull-right">
                    <i class="fa fa-times-circle"></i>
                </div>
                <i class="{{ mn_category(criteria.category).icon }}"></i>
                {{ mn_category(criteria.category).label }}
            </a>
        {% else %}
            {% for category in categories %}
                <a class="dropdown-item" href="{{ path('homepage', {'filter': criteria.getQuery({'category': category.category.key})}) }}">
                    <i class="{{ category.category.icon}} "></i>
                    {{ category.category.label }}
                    {% if category.pending > 0 %}
                        <div class="pull-right">
                            <span class="label {% if category.pending > 10 %}label-danger{% elseif category.pending > 0 %}label-warning{% else %}label-default{% endif %}">{{ category.pending }}/{{ category.total }}</span>
                        </div>
                    {% endif %}
                </a>
            {% endfor%}
        {% endif %}
    </div>
</div>
