{% extends "layout.html.twig" %}
{% form_theme form '_formtheme.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="row justify-content-center pb-4">
        <div class="col-12 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <dl class="panel">
                        <dt>Login</dt>
                        <dd>{{ user.username }}</dd>

                        <dt>E-Mail</dt>
                        <dd>{{ user.email }}</dd>

                    </dl>
                    <fieldset class="form-group">
                        <legend>change password</legend>

                        {{ form_widget(form) }}
                        {{ form_rest(form) }}

                    </fieldset>
                </div>
                <div class="card-footer justify-content-end">
                    <div class="float-right">
                        <button type="submit" name="submit" class="btn btn-outline-primary"><i class="fa fa-plus"></i> save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock content %}

